@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
}

/* Target the scrollbar track */
::-webkit-scrollbar {
    width: 6px;
}

/* Target the scrollbar thumb (the draggable bar) */
::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    box-shadow: 3 3 5px 1px #fff;
}

.mask-image-gradient {
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 100%);
}

.searchArea {}

.listArea {
    position: absolute;
    top: 62%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}